
body {
	font-family: 'Open Sans', sans-serif;
}

.logo {
	width:40px;
	margin-top: -2px;
}

.navbar-brand {
    padding-top: 7px;
    padding-left: 50px;
}

.navbar-nav a {
	text-transform: uppercase;
	font-size: 12px;
}

.navbar-nav {
    float: right;
}

h2 {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
}



.content {
	background-image: url("../images/banner1.jpg");
   	background-size: cover;
   	background-position: center; 
	width: 100%;
	padding-bottom: 150px;
	padding-top: 100px;
	margin-top: 0;
}

.div2 {
	background-image: url("../images/stars2.png");
}

.div3 {
	background-image: url("../images/beans.png");
}


.container {
	max-width: 1000px;
}

.caja1 {
	background-color:rgba(0,0,0,0.5);
	border-radius: 20px;
	padding-top:20px ;
	padding-bottom: 30px; 
	text-align: center;
	}


.white {
	color: white;
}

.bajada {
	color: white;
	margin-top: 10px;
	font-weight: 300;
}

.boton {
	color:white;
	border-radius: 20px;
    border-color: white;
    background-color: transparent;
    padding: 5px 30px;
}

footer {
	background-color: #e8e8e8;
}

.social {
	text-align: center;
	padding-top: 20px;
}

.facebook {
	padding-right: 15px;
}

.logo2 {
	width:100px;
}

.linea_footer {
    height: 6px;
    background: #393939;
}

.linea_menu {
    height: 10px;
    background: #366043;
    margin-top: 0;
    width: 100%;
}

